body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
    display: flex; /* Usar flexbox en el body */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background-color: #202020;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.barraLateral {
    width: 200px;
    height: 100vh;
    background-color: #202020;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 8px 8px 0; /* Bordes redondeados solo a la derecha */
}

.barraLateral ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Usar flexbox para la lista */
    flex-direction: column; /* Alinear los elementos en columna */
}

.barraLateral ul li {
    margin: 15px 0; /* Mayor margen entre los elementos */
}

.barraLateral ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px; /* Aumentar el tamaño de la fuente */
    padding: 15px; /* Padding más amplio */
    display: flex; /* Usar flexbox para alinear icono y texto */
    align-items: center; /* Centrar verticalmente */
    border-radius: 7px;
    transition: background-color 0.3s, transform 0.2s;
}

.barraLateral ul li a i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.barraLateral ul li a:hover {
    background-color: #3a3a3a; /* Color de fondo al pasar el mouse */
    transform: scale(1.05);
}

main {
    padding: 20px;
    margin-left: 250px; /* Dejar espacio para la barra lateral */
    width: calc(100% - 250px); /* Ajustar el ancho del main */
    margin-top: 60px; /* Dejar espacio para el header */
}

.music-section {
    margin-left: 20px;
}

.contenedor-canciones {
    display: flex; /* Usar flexbox para el contenedor de canciones */
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan */
    gap: 20px; /* Espacio entre las tarjetas */
    margin-top: 20px;
    justify-content: flex-start; /* Alinear las tarjetas al inicio */
}

.tarjetaCanciones {
    background-color: #282828;
    border-radius: 8px;
    padding: 10px; /* Reducir el padding */
    width: 150px; /* Disminuir el ancho de las tarjetas */
    transition: transform 0.3s;
    display: flex; /* Usar flexbox en la tarjeta */
    flex-direction: column; /* Alinear el contenido en columna */
    align-items: center; /* Centrar el contenido horizontalmente */
}

.tarjetaCanciones:hover {
    transform: scale(1.05);
}

.tarjetaCanciones h3 {
    margin: 10px 0 5px; /* Ajustar márgenes */
    font-size: 16px; /* Reducir el tamaño de la fuente del título */
    text-align: center; /* Centrar el texto */
}

.tarjetaCanciones p {
    margin: 0;
    font-size: 12px; /* Reducir el tamaño de la fuente de la descripción */
    color: #b3b3b3;
    text-align: center; /* Centrar el texto */
}

.tarjetaCanciones img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
